body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
}
#welcome {
  width: 300px;
  margin: auto;
}
#welcome button {
  width: 100%;
}
#wait-screen {
  width: 400px;
  margin: auto;
  text-align: center;
}
#wait-screen h1 {
  margin-bottom: 4rem;
}
#game-field {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#game-field .bg {
  fill: gray;
  mask: url(#sight-mask);
}
#game-field .tile-group rect {
  fill: #C5E1A5;
  stroke: white;
}
#game-field .transform-group {
  transition: all 0.2s ease;
}
#game-field .unit {
  transition: all 0.2s ease;
}
#game-field .unit .unit-icon {
  fill: #CFD8DC;
}
#game-field .unit.dead .unit-icon {
  fill: red;
}
#game-field .unit.live .unit-icon {
  fill: #ef9a9a;
}
#game-field .unit.live.you .unit-icon {
  fill: #80DEEA;
}
#game-field .unit .unit-dir {
  fill: #455A64;
  opacity: 0.3;
}
#game-field .unit .unit-letter {
  alignment-baseline: middle;
  text-anchor: middle;
}
#game-field .hit {
  fill: #FF5722;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}
#game-field .hit.bowman {
  stroke: #FF5722;
  stroke-width: 5px;
}
#game-field stop.transparent {
  stop-opacity: 0;
}
#game-hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 3rem 0;
}
#game-hud .player-state {
  position: absolute;
  width: 15rem;
  left: 3rem;
}
#game-hud .game-menu {
  position: absolute;
  right: 3rem;
}
#log-header button {
  margin-left: 1rem;
}
#battle-log {
  position: fixed;
  width: 40rem;
  height: 23rem;
  left: 3rem;
  bottom: 0;
  overflow: hidden;
  opacity: 0.3;
  flex-direction: column;
  display: flex;
  transition: all 0.2s ease;
}
#battle-log:hover {
  opacity: 0.8;
}
#battle-log.log-hidden {
  height: 10rem;
}
#log-entries {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: #80CBC4;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
#log-entries .ts {
  color: #1976D2;
  font-weight: bold;
}
