body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
}
#welcome {
  width: 300px;
  margin: auto;
}
#welcome button {
  width: 100%;
}
#wait-screen {
  width: 400px;
  margin: auto;
  text-align: center;
}
#wait-screen h1 {
  margin-bottom: 4rem;
}
#game-field {
  margin: 5rem;
}
#game-field .bg {
  fill: gray;
  mask: url(#sight-mask);
}
#game-field .tile-group rect {
  fill: #C5E1A5;
  stroke: white;
}
#game-field .player {
  fill: #CFD8DC;
  transition: all 0.2s ease;
}
#game-field .player.live {
  fill: #ef9a9a;
}
#game-field .player.live.you {
  fill: #80DEEA;
}
#game-hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 5rem 0;
}
#game-hud .player-state {
  position: absolute;
  width: 15rem;
  left: 5rem;
}
#game-hud .game-menu {
  position: absolute;
  right: 5rem;
}
